@use 'base/mixins' as m;
@use 'base/variables' as v;

.Black-space {
    padding: 2rem 0;
    background-color: v.$Negro;
    border-radius: 2rem;
    margin-bottom: 3rem;
    h1 {
        text-align: center;
        font-family: v.$fuente_omori;
        color: v.$Blanco
    }
    p {
        text-align: center;
        font-size: 2rem;
        font-family: v.$fuente_omori;
        color: v.$Rojo;
        font-weight: bold;
    }
}

.puertas {
    display: block;
    @include m.tablet {
        @include m.grid(3, 3rem);
    }
    
}
