@use 'base/mixins' as m;
@use 'base/variables' as v;

.canciones {
    z-index: 0;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 90%;

    max-height: 80rem;
    min-height: 50rem;

    .overlay {
        background-image: url(../../../gifs/omori-start-screen.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    // img {
    //     width: 100%;
    //     display: block;
    //     @include m.desktop {
    //         width: 100%;  
    //     }
    // }
}

.titulo-canciones {

    padding: 5rem 0;
    margin-bottom: 0rem;

    h2 {
        background-color: v.$Negro-transparente;
        border-radius: 1rem;
        padding: 0.5rem;
        color: v.$Blanco;
        text-align: center;
        font-family: v.$fuente_principal;
        font-weight: bold;
        font-size: 3rem;
        margin: 0;
    }

}

.botones-canciones {
    // display: grid;
    // //grid-template-rows: repeat(3, 1fr);
    // gap: 2rem;
    // @include m.telefono {
    //     @include m.grid(3, 3rem);  
    // }

    display: block;

    button {
        display: block;
        word-wrap: break-word;
        width: 100%;
        margin-bottom: 2rem;
        background-color: v.$Azul-claro;
        padding: 0.5rem;
        color: v.$Blanco;
        font-weight: bold;
        border-radius: 2rem;
    }

    @include m.telefono {
        display: flex;
        justify-content: space-around; 

        button {
            margin-bottom: 0;
            width: 20%;
        }
    }


}

.pausar {
    padding: 2rem 0;

    button {
        display: block;
        word-wrap: break-word;
        width: 100%;
        background-color: v.$Rojo-transparente;
        padding: 1rem;
        color: v.$Blanco;
        font-weight: bold;
        border-radius: 2rem;
    }
}