@use 'base/mixins' as m;
@use 'base/variables' as v;

.logo-header {
    background-color: v.$Negro;
}

.header {
    background-color: v.$Negro;

    @include m.tablet {
        &.fijo {
            z-index: 1;
            left: 0; //Colocarlo a la izquierda arriba
            top: 0;
            position: fixed;
            width: 100%;
            box-shadow: 0.1rem 0.2rem 0.1rem #333;
        }  
    }

    .contenido-header {
        h1 {
            color: v.$Blanco;
            text-align: center;
            margin: 0;
            padding: 1rem 0 3rem 0;
            font-family: v.$fuente_omori;
            font-weight: 400;
        }

        @include m.tablet {
            display: flex;
            justify-content: space-between;  
        }
    }
}

.logo {
    display: flex;
    justify-content: center;
    img {
        width: auto;
    }
}

.navegacion-principal {

    .navegacion-enlace:last-of-type {
        padding-bottom: 2rem;
    }

    a {
        display: block;
        text-align: center;
        color: v.$Blanco;
        font-weight: bold;
        padding: 1rem;

        &:hover {
            background-color: v.$Negro-brilloso;
            border-radius: 2rem;
        }
        
    }
    


    @include m.tablet {
        display: flex;
        gap: 1rem;  
        align-items: center;

        .navegacion-enlace:last-of-type {
            padding-bottom: 1rem;
        }

    }
    
}
